apiVersion: kudo.dev/v1alpha1
kind: TestSuite
manifestDirs:
  - ./manifests/
commands:
  - command: ./bin/kubectl-kudo init
  - command:  kubectl create ns cassandra-install-test
  - command: ./bin/kubectl-kudo install -n cassandra-install-test --skip-instance ../operator/
testDirs:
  - ./tests
startKIND: true
kindConfig: ./tests/kubernetes-1.17.2.yaml
kindContainers:
  - ${CASSANDRA_DOCKER_IMAGE}
timeout: 300
parallel: 3
