OVERRIDE_CLUSTER_NAME: "Cluster"
JMX_LOCAL_ONLY: true
NODE_DISK_SIZE_GIB: 1
NODE_CPU_MC: "500"
NODE_CPU_LIMIT_MC: "800"
NODE_MEM_MIB: "512"
NODE_MEM_LIMIT_MIB: "768"
PROMETHEUS_EXPORTER_ENABLED: "false"
NODE_COUNT: 2
NODE_READINESS_PROBE_INITIAL_DELAY_S: 60
NODE_READINESS_PROBE_PERIOD_S: 10
NODE_READINESS_PROBE_FAILURE_THRESHOLD: 6
NODE_LIVENESS_PROBE_INITIAL_DELAY_S: 120
NODE_DOCKER_IMAGE: {{ .CASSANDRA_DOCKER_IMAGE }}
NODE_DOCKER_IMAGE_PULL_POLICY: IfNotPresent
SERVICE_ACCOUNT_INSTALL: true
RECOVERY_CONTROLLER: true
RECOVERY_CONTROLLER_DOCKER_IMAGE: {{ .RECOVERY_CONTROLLER_DOCKER_IMAGE }}
RECOVERY_CONTROLLER_DOCKER_IMAGE_PULL_POLICY: IfNotPresent
POD_MANAGEMENT_POLICY: Parallel
NODE_ANTI_AFFINITY: true