PROMETHEUS_EXPORTER_ENABLED: false
NODE_COUNT: 1 
NODE_CPU_MC: 200 
NODE_MEM_MIB: 128 
NODE_DISK_SIZE_GIB: 1 
NODE_DOCKER_IMAGE: {{ .CASSANDRA_DOCKER_IMAGE }}
NODE_DOCKER_IMAGE_PULL_POLICY: IfNotPresent
SERVICE_ACCOUNT_INSTALL: true